<app-encabezado></app-encabezado>
<div style="background-color: #93AFBB">
<br><br>
<br><br>
<h1 style="text-align: center">Listado de Libros</h1>
<div class="busqueda">
  <input  type="text" class="form-control" name="listadoLibrosfiltro" placeholder="Search" [(ngModel)]="listadoLibrosfiltro">
</div>
<app-libros *ngFor="let libro of listaLibros | filtroListado:listadoLibrosfiltro " [libro]="libro" ></app-libros>
<div *ngIf="listadoLibrosfiltro.length<=0">
  <br><br>
  <h2 style="text-align: center; color: red">NO HAY COINCIDENCIAS</h2>
</div>
</div>
<app-pie></app-pie>
