<html>
  <app-encabezado></app-encabezado>
<head>
  <title>INGRESO DE LIBROS</title>
  <link rel="stylesheet" href="registro-libros.component.css">
</head>
<body>
<div>-->
<form method="POST" class="formulario">
  <h4>Ingreso de Libros</h4>
  <img src="https://www.matematicasonline.es/BachilleratoCCNN/Segundo/imagenes/libro.png" alt="">
  <input class="controls" type="text" name="titulo" id="titulo" placeholder="Título" required [(ngModel)]="libro.titulo">
  <input class="controls" type="text" name="autor" id="autor" placeholder="Autor" required [(ngModel)]="libro.autores">
  <input class="controls" type="text" name="editorial" id="editorial" placeholder="Editorial" required [(ngModel)]="libro.editorial">
  <input class="controls" type="date" name="fecha" id="fecPubl" placeholder="Fecha de Publicacion" required [(ngModel)]="libro.fecha_publicacion">
  <input class="controls" type="text" name="idioma" id="idioma" placeholder="Idioma" required [(ngModel)]="libro.idioma">
  <select class="controls" name="Clasificacion" id="clasificacion" required [(ngModel)]="libro.clasificacion">
    <option selected disabled hidden value value="">Clasificación</option>
    <option style="font-weight: bold">000 Generalidades</option>
    <option>010 Bibliografía</option>
    <option>020 Bibliotecología y ciencias de la información</option>
    <option>030 Enciclopedias generales </option>
    <option style="font-weight: bold">100 Publicaciones en serie</option>
    <option>100 Filosofía y psicología</option>
    <option>110 Metafísica</option>
    <option>120 Conocimiento, causa, fin, hombre </option>
    <option>130 Parapsicología, ocultismo, fenómenos paranormales</option>
    <option style="font-weight: bold">200 Religión</option>
    <option>210 Filosofía y teoría de la religión</option>
    <option>220 Biblia</option>
    <option>230 Teología cristiana</option>
    <option>240 Moral y prácticas cristianas</option>
    <option>250 Iglesia local y órdenes religiosas</option>
    <option>260 Teología social y eclesiástica</option>
    <option style="font-weight: bold">300 Ciencias sociales</option>
    <option>310 Estadística</option>
    <option>320 Ciencia política</option>
    <option>330 Economía</option>
    <option>340 Derecho</option>
    <option style="font-weight: bold">400 Lenguas</option>
    <option>410 Lingüística</option>
    <option>420 Inglés e inglés antiguo</option>
    <option>430 Lenguas germánicas; alemán</option>
    <option>440 Lenguas romances; francés</option>
    <option>450 Italiano, rumano, rético</option>
    <option>460 Español y portugués</option>
    <option>470 Lenguas itálicas; latín</option>
    <option>480 Lenguas helénicas; griego clásico</option>
    <option>490 Otras lenguas</option>
    <option style="font-weight: bold">500 Matemáticas y ciencias naturales</option>
    <option>510 Matemáticas</option>
    <option>520 Astronomía y ciencias afines</option>
    <option>530 Física</option>
    <option>540 Química y ciencias afines</option>
    <option>550 Geociencias</option>
    <option style="font-weight: bold">600 Tecnología y ciencias aplicadas</option>
    <option>610 Ciencias médicas</option>
    <option>620 Ingeniería y operaciones afines</option>
    <option>630 Agricultura y tecnologías afines</option>
    <option>640 Economía doméstica</option>
    <option>650 Servicios administrativos empresariales</option>
    <option style="font-weight: bold">700 Artes</option>
    <option>710 Urbanismo y arquitectura del paisaje</option>
    <option>720 Arquitectura</option>
    <option>730 Artes plásticas; escultura</option>
    <option>740 Dibujo, artes decorativas</option>
    <option>750 Pintura y pinturas</option>
    <option>760 Artes gráficas; grabados</option>
    <option style="font-weight: bold">800 Literatura</option>
    <option>810 Literatura americana en inglés</option>
    <option>820 Literatura inglesa e inglesa antigua</option>
    <option>830 Literaturas germánicas</option>
    <option>840 Literaturas de las lenguas romances</option>
    <option>850 Literaturas italiana, rumana</option>
    <option>860 Literaturas española y portuguesa</option>
    <option>870 Literaturas de las lenguas itálicas</option>
    <option>880 Literaturas de las lenguas helénicas</option>
    <option>890 Literaturas de otras lenguas</option>
    <option style="font-weight: bold">900 Historia y geografía</option>
    <option>910 Geografía; viajes</option>
    <option>920 Biografía y genealogía</option>
    <option>930 Historia del mundo antiguo</option>
    <option>940 Historia de Europa</option>
    <option>950 Historia de Asia</option>
    <option>960 Historia de África</option>
    <option>970 Historia de América del Norte</option>
    <option>980 Historia de América del Sur</option>
    <option>990 Historia de otras regiones</option>

  </select>
  <input class="controls" type="text" name="ubicacion" id="ubicacion" placeholder="Ubicación" required [(ngModel)]="ubicacion.localizacion">
  <input class="controls" type="text" name="link" id="link" placeholder="URL" required [(ngModel)]="libro.link">
  <select class="controls" name="Disponibilidad" id="estado" required [(ngModel)]="libro.estado">
    <option selected disabled hidden value="">Disponibilidad</option>
    <option>Disponible</option>
    <option>No Disponible</option>
  </select>
  <textarea class="arearesumen" name="resumen" id="resumen" cols="40" rows="3" placeholder="Resúmen" required [(ngModel)]="libro.resumen"></textarea>
  <div *ngIf="guarda">
    <input class="botons" type="submit" value="Registrar" (click)="Guardar()">
  </div>
  <div *ngIf="nuevo">
    <input class="botons" type="submit" value="Ingresar Nuevo" (click)="Reload()">
  </div>
</form>
</div>
</body>
</html>
