<table class="m-5">
<tbody class="table">
  <tr class="tr_title">
    <td class="align_right bg-grey"><span class="etiq_champ">Titulo: </span></td>
    <td class="public_line_value"><span
      class="public_title">{{libro.titulo}}</span></td>
  </tr>

  <tr class="tr_auteurs" >
    <td class="align_right bg-grey"><span class="etiq_champ">Autores:</span></td>
    <td class="public_line_value"><span class="public_auteurs">
      <a>{{libro.autores}}</a></span>
    </td>
  </tr>

  <tr class="tr_ed1">
    <td class="align_right bg-grey"><span class="etiq_champ">Editorial:</span></td>
    <td class="public_line_value"><span class="public_ed1">
      <a>{{libro.editorial}}</a></span></td>
  </tr>

  <tr class="tr_year">
    <td class="align_right bg-grey"><span class="etiq_champ">Fecha de publicación:</span></td>
    <td class="public_line_value"><span class="public_year">{{libro.fecha_publicacion}}</span></td>
  </tr>


  <tr class="tr_langues">
    <td class="align_right bg-grey"><span class="etiq_champ">Idioma :</span></td>
    <td class="public_line_value"><span class="public_langues">{{libro.idioma}}</span></td>
  </tr>

  <tr class="tr_indexint">
    <td class="align_right bg-grey"><span class="etiq_champ">Clasificación:</span></td>
    <td class="public_line_value"><a>{{libro.clasificacion}}</a> </td>
  </tr>

  <tr class="tr_langues">
    <td class="align_right bg-grey"><span class="etiq_champ">Estado :</span></td>
    <td class="public_line_value">{{libro.estado}}</td>
  </tr>
  <tr class="tr_contenu">
    <td class="align_right bg-grey"><span class="etiq_champ">Resumen:</span></td>
    <td class="public_line_value"><span class="public_contenu">{{libro.resumen}}</span>
    </td>
  </tr>
  <tr class="tr_permalink">
    <td class="align_right bg-grey" style="background-color: blueviolet"><span class="etiq_champ">Link:</span></td>
    <td class="public_line_value"><span class="public_permalink"><a href="{{libro.link}}">{{libro.link}}</a></span>
    </td>
  </tr>
</tbody>

  <tfoot>
  <td>
    <tr> Identificador </tr>
    <tr></tr>
  </td>
  <td>
    <tr> Ubicacion </tr>
    <tr></tr>
  </td>
  </tfoot>

</table>


<button class=" m-5"> Boton</button>
