
<table class="table">
<tbody>
  <tr>
    <td class="titulares">Titulo: </td>
    <td class="resultado">{{libro.titulo}}</td>

  </tr>

  <tr>
    <td class="titulares">Autores:</td>
    <td class="resultado">{{libro.autores}}</td>
  </tr>

  <tr>
    <td class="titulares">Editorial:</td>
      <td class="resultado">{{libro.editorial}}</td>
  </tr>

  <tr>
    <td class="titulares">Fecha de publicación:</td>
    <td class="resultado">{{libro.fecha_publicacion}}</td>
  </tr>


  <tr>
    <td class="titulares">Idioma:</td>
    <td class="resultado">{{libro.idioma}}</td>
  </tr>

  <tr>
    <td class="titulares">Clasificación:</td>
    <td class="resultado">{{libro.clasificacion}}</td>
  </tr>

  <tr>
    <td class="titulares">Estado :</td>
    <td class="resultado">{{libro.estado}}</td>
  </tr>

  <tr>
    <td class="titulares">Resumen:</td>
    <td class="resultado">{{libro.resumen}}</td>
  </tr>
  <tr>
    <td class="titulares">Link:</td>
    <td class="resultado"><a href="{{libro.link}}">{{libro.link}}</a></td>
  </tr>
</tbody>

</table>

<button class=" m-5"> Botón</button>
