
<table class="table">
  <tbody>
  <tr>
    <td class="titulares">Titulo: </td>
    <td class="resultado">{{libro.titulo}}</td>

  </tr>

  <tr>
    <td class="titulares">Autores:</td>
    <td class="resultado">{{libro.autores}}</td>
  </tr>

  <tr>
    <td class="titulares">Editorial:</td>
    <td class="resultado">{{libro.editorial}}</td>
  </tr>

  <tr>
    <td class="titulares">Fecha de publicación:</td>
    <td class="resultado">{{libro.fecha_publicacion}}</td>
  </tr>


  <tr>
    <td class="titulares">Idioma:</td>
    <td class="resultado">{{libro.idioma}}</td>
  </tr>

  <tr>
    <td class="titulares">Clasificación:</td>
    <td class="resultado">{{libro.clasificacion}}</td>
  </tr>

  <tr>
    <td class="titulares">Estado :</td>
    <td class="resultado">{{libro.estado}}</td>
  </tr>

  <tr>
    <td class="titulares">Resumen:</td>
    <td class="resultado">{{libro.resumen}}</td>
  </tr>
  <tr>
    <td class="titulares">Link:</td>
    <td class="resultado"><a href="{{libro.link}}">{{libro.link}}</a></td>
  </tr>
  </tbody>
  <br>
</table>
<div class="btn-ali">
  <input type="button" class="btn-inferiores" (click)="mostrar(libro.titulo)" *ngIf="localizacion" value="Localizaciones">
    <input type="button" class="btn-inferiores" routerLink="/RegistroLibros/{{libro.titulo}}" *ngIf="desabilitar" value="Editar">
    <input type="button" class="btn-inferiores" value="Eliminar" routerLink="/Eliminacion/{{libro.titulo}}" *ngIf="desabilitar">

  <br><br>
</div>
  <div *ngIf="mostrarUbicaciones"  >
    <h5 style="text-align: center">El libro esta disponible en las siguiente/s ubicacion/es</h5>
    <br>
    <h5 style="text-align: center; color: red" *ngIf="noUbicaciones">No hay localizacion para este libro</h5>
  <table class="table" style="margin-top: 5px">
    <tr *ngFor="let ubicacion of ubicacionListaTitulo">
      <td class="titulares">Localizacion</td>
      <td class="resultado">{{ubicacion.localizacion}}</td>
      <td><button class=" m-1" (click)="reservar(ubicacion.libro.titulo,ubicacion.localizacion)"> Reservar</button></td>
    </tr>
  </table>
</div>




