<html>
  <head>
    <title> FORMULARIO DE REGISTRO </title>

    <link rel="stylesheet" href="loggin.component.css">
  </head>

  <body>
    <section class="form-register">
      <h4> ------ FORMULARIO REGISTRO ------ </h4>
      <img src="https://cdn-icons-png.flaticon.com/512/3534/3534139.png">
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre" required>
      <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Apellido" required>
      <input class="controls" type="text" name="usuario" id="usuario" placeholder="Usuario" required>
      <select class="controls" name="Género" id="genero" required>
        <option selected disabled hidden value="">Género</option>
        <option>Masculino</option>
        <option>Femenino</option>

      </select>
      <input class="controls" type="password" name="clave" id="clave" placeholder="Contraseña" required>
      <input class="controls" type="password" name="claveConfirmar" id="claveConfirmar" placeholder="Digite de nuevo su contraseña" required>
      <input class="botons" type="submit" value="Registrar">

      <p><a href="">Ya tengo una cuenta</a></p>

    </section>
  </body>
</html>
